@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	color: #777;
	background: #0080CC;
}

.container {
	max-width: 260px;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	float: left;
	border-left: 5px solid #c9c9c9;
}
.container:first-child {
	border-left: 0;
}
.container_wide {
	width: 100%;
	margin: 5px 5px;
	padding: 5px;
	position: relative;
	float: left;
	background: #F9F9F9;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label {
  display: inline-block;
  padding: 2px 5px;
  text-align: right;
}

input[type="text"],
input[type="number"],
textarea,
button {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

input[type="number"] {
    width: 5em;
}

p {
	color: #000;
}

h1 {
	display: block;
	font-size: 24px;
	font-weight: 500;
	margin: 5px;
}

h3 {
	display: block;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
}

h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 20px;
	font-weight: 300;
}

fieldset {
	border: medium none !important;
	margin: 0 0 5px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

input[type="text"],
input[type="number"],
textarea {
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 2px;
	padding: 5px;
}

input[type="text"]:hover,
input[type="number"]:hover,
textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

button {
	cursor: pointer;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 2px;
	padding: 5px 20px;
	font-size: 15px;
}

button:hover {
	background: #43A047;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

button:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
	text-align: center;
}

input:focus,
textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: gray;
}
th {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #333;
	border-bottom: 1px solid #ddd;
	padding: 2px 8px;
}
td {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #333;
	margin: 0px;
	padding: 0px 8px;
}
tr:nth-child(even) {
    background-color: #fff;
}
